*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  height: 100%;
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}