/* feelin pastel green, and white */

@font-face {
    font-family: 'Fira Code';
    src: url(FiraCode-Regular.ttf);
}

* {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e0f7e9;
    color: #333;
}
h1 {
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
}
input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;


}
button:hover {
    background-color: #45a049;
}
button:active {
    background-color: #3e8e41;
}
a {
    margin-top: 15px;
    text-align: center;
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
