body {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    flex-direction: column; /* Ensures elements stack vertically */
    min-height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    background-color: #fff; /* Optional background color */
    line-height: 1;
}
#cookieCount {
    font-size: 2rem;
    margin-bottom: 1rem;
}
#upgrades {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}
#upgrades button{
    background-image: url('button.png'); /* Ensure you have an upgrade.png image in the same directory */
    border: none;
    background-size: 100% 100%;
    width: 126px;
    height: 32px;
    margin: 0.5rem;


}
#resetButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}
#saveButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}
#upgrades {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cookieButton {
    width: 200px;
    height: 200px;
    background-image: url('cookie.png'); /* Ensure you have a cookie.png image in the same directory */
    background-size: cover;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 1rem;
}
#cookieButton:active {
    transform: scale(0.95); /* Slightly shrink the button when clicked */
}
