body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
#cookieButton {
    font-weight: bold;
    cursor: pointer;
    border-radius: none;
    background-color: none;
    border: none;    
    color: none;
    font-size: 100px;
    margin-bottom: 20px;
    transition: transform 0.1s;
    align-items: center;
}
#cookieButton:hover {
    transform: scale(1.05);
    transition: transform 0.1s;
}
#cookieButton:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}

#cookieCount {
    font-size: 20px;
    margin-bottom: 20px;
}
#resetButton {
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    border: none;
}
#resetButton:hover {
    background-color: #da190b;
    transform: scale(1.05);
    transition: transform 0.1s;
}
#upgrades {
    margin-top: 20px;
}

h2 {
    margin-bottom: 10px;
    font-size: 22px;
}
