body{
    background-color: black;
    height: 100vh;
    margin: 0;
    font-family: monospace;
    color: green;

}
#container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 50px;
    overflow-y: auto;
}

#top-container{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px;
}
#title{
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

#source {
    color: #2AD400;
    font-size: 15px;
    font-weight: bold;

    white-space: pre-wrap;
    /* pre-wrap	Whitespace is preserved by the browser. Text will wrap when necessary, and on line breaks */
}

#access-msg{
    font-size: 3rem;
    text-align: center;
    border: 2px solid;
    padding: 1.5rem;

    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.d-none{
    display: none;
}

.success {
    color: #10ff00;
    display: block;
    animation: accessAnimation 0.5s 2 0s linear;

}

.denied {
    color: rgb(255, 0, 0);
    display: block;
    animation: accessAnimation 0.5s 2 0s linear;

}

.blured{
    filter: blur(0.5px);
}

@keyframes accessAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}